form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    padding: .5rem;
    border-color: transparent;
    border-radius: .3em;
}

button {
    align-self: start;
    color: white;
    padding: .7em 1.6em;
    border-radius: .4em;
    border: transparent;
    background-color: var(--clr-primary);
    box-shadow: .2rem .2rem .7rem hsla(0, 0%, 0%, 0.5);
    transition: scale 300ms ease;

    &:hover,
    &:focus-visible {
        scale: 1.1;
    }
}