<header class="bg-main">
    <div class="container">
        <div class="hero">
            <h1 class="title"><span class="txt-accent fs-700">Aviral Vikram</span><span class="small txt-white fs-500"> a Frontend
                    Developer</span></h1>
            <p class="summary txt-secondary">Hello! i am a frontend developer who enjoy learning and is deeply in love with frontend.</p>
            <div class="link-list">
                <a  style="background-color:white;fill:var(--clr-accent)"  href="https://github.com/Akunamo" target="_blank" aria-label="github"><img src="assets/git.svg"
                        alt="github" height="50" width="50"></a>
                <a href="linkedin.com/in/aviralvikram" target="_blank" aria-label="linkedin"><img src="assets/linkedin.svg"
                        alt="linkedin" height="50" width="50"></a>
            </div>
        </div>
    </div>
</header>