header {
  position: relative;
  height: calc(min(100vh, 45rem));
  display: grid;
}

header::before {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  height: 300px;
  width: 100%;
  background-image: url("../../assets/wavedown.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  filter: drop-shadow(0 0 1.5rem #1a1a1a);
}

header .hero {
  margin-block: 16rem 14rem;
}

header .hero .title {
  font-size: 2.5rem;
  letter-spacing: 1px;
  max-width: 15ch;
  line-height: .8;
}

header .hero .title .small {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

header .hero .link-list {
  display: flex;
  gap: 1.5rem;
}

header .hero p {
  max-width: 50%;
}
