.project {
    display: grid;
    margin-bottom: 6rem;
    grid-template-columns: repeat(8, 1fr);

    div {
        grid-row: 1 / -1;
    }

    .project-info {
        grid-column: 1 / 6;
        z-index: 9;
    }

    .project-image {
        // mask-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.692));
        grid-column: 4 / 9;
    }
}

@media (min-width:60rem) {
    .project {
        margin-bottom: 12rem;
        grid-template-columns: repeat(8, 1fr);
    
        div {
            grid-row: 1 / -1;
        }
    
        .project-info {
            grid-column: 1 / 6;
            z-index: 9;
        }
    
        .project-image {
            align-self: center;
            // mask-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.692));
            grid-column: 4 / 9;
        }
    }
}

.project-info {
    display: flex;
    flex-direction: column;

    h3 {
        font-size: var(--fs-500);
        font-weight: normal;
        margin-bottom: .7em;
    }

    ul {
        margin-bottom: 2em;
    }


    ul:not(.tags) {
        border-radius: 1rem ;
        background-color: rgba(0, 0, 0, 0.87);
        backdrop-filter: blur(10px);
        padding: 1rem;
    }

    ul:not(.tags) li {
        list-style-type: decimal-leading-zero;
        margin-left: 2rem;
        margin-bottom: .5em;
    }

    li::marker {
        color: var(--clr-secondary);
    }

    .call-to-action {
        position: relative;
        display: inline-block;
        color: var(--clr-white);
        padding: .8em 1.4em;
        font-size: var(--fs-300);
        border-radius: 5em;
    }

    .call-to-action.live {
        letter-spacing: 2px;
        backdrop-filter: blur(50px);
        font-weight: 900;
        color: var(--clr-accent);
        border: 2px solid var(--clr-accent);
    }

    .call-to-action.git {
        margin-left: 2rem;
        color: var(--clr-secondary);
        background-color: var(--clr-primary);
        border: 2px solid var(--clr-secondary);
    }

    .call-to-action:hover::after,
    .call-to-action:focus-visible::after {
        scale: 1.35;
    }
}


.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    li {
        font-size: var(--fs-200);
        list-style: none;
        padding: .5em .7em;
        color: var(--clr-secondary);
        border-radius: .45em;
        border: 1px solid var(--clr-secondary);
    }

}


.project-image {
    border-radius: .4rem;
    // box-shadow: 0 2rem 5rem var(--clr-shadow);
    // align-self: center;
    overflow: hidden;

    img {
        opacity: .8;
        object-fit: cover;
        height: 100%;
    }
}