.project {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.project .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.project .tags li {
  background-color: var(--clr-neutral-dark);
  color: var(--clr-neutral-light);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: .8rem;
  box-shadow: rgba(99, 99, 99, 0.3) 3px 3px 3px;
  border-radius: .3em;
  padding: .5em .7em;
}

.project .project-image {
  border-radius: .4rem;
  border: 2px solid var(--clr-primary);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow: hidden;
  transition: scale 300ms ease;
}

.project .project-image:hover, .project .project-image:focus-visible {
  scale: 1.1;
}

.project .project-image img {
  object-fit: contain;
  height: 100%;
}

@media (min-width: 35rem) {
  .project {
    flex-direction: row;
  }
  .project .project-image {
    max-width: 45%;
  }
}
