<section class="container" id="projects">
    <h2>My Work</h2>

    <div *ngFor="let project of projectData" class="project">
        <div class="project-info">
            <h3>{{project.title}}</h3>

            <ul class="tags">
                <li *ngFor="let tag of project.tag">{{tag}}</li>
            </ul>

            <ul class="summary txt-secondary">
                <li *ngFor="let i of project.summary">{{i}}</li>
            </ul>

            <div class="action-button">
                <a class="call-to-action live" target="_blank" href="{{project.liveLink}}">See live</a>
                <a class="call-to-action git" target="_blank" href="{{project.repoLink}}">Source code</a>
            </div>
        </div>
        <div class="project-image">
            <img src="{{project.imageSource}}" alt="{{project.imageAlt}}" width="{{project.imageWidth}}"
                height="{{project.imageHeight}}">
        </div>
    </div>
</section>