<section class="mb-2 wave-bg">
    <div class="container flow-2">
        <h2 class="sub-heading">Projects</h2>
        <div class="project">
            <div class="project-info flow">
                <h3>Project Name</h3>
                <ul class="tags">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                </ul>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, quis.</li>
                </ul>
            </div>
            <div class="project-image">
                <img src="../../assets/expense-chart.png" alt="expense chart webpage" width="1000" height="560">
            </div>
        </div>
        <div class="project">
            <div class="project-info flow">
                <h3>Project Name</h3>
                <ul class="tags">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                </ul>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, quis.</li>
                </ul>
            </div>
            <div class="project-image">
                <img src="../../assets/news-homepage.png" alt="news homepage webpage" width="1000" height="605">
            </div>
        </div>
        <div class="project">
            <div class="project-info flow">
                <h3>Project Name</h3>
                <ul class="tags">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                </ul>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, quis.</li>
                </ul>
            </div>
            <div class="project-image">
                <img src="../../assets/order summary.png" alt="order summary webpage" width="1000" height="567">
            </div>
        </div>
    </div>
</section>