.project {
    display: flex;

    .project-info {
        width: 70%;

        li {
            line-height: 1.6;
        }
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        li {
            list-style: none;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: .8rem;
            background-color: var(--clr-primary-light);
            border-radius: .3em;
            padding: .5em .7em;
        }
    }

    .project-image {
        max-width: 45%;

        img {
            border-radius: .3rem;
            height: auto;
            object-fit: cover;


            &:hover,
            &:focus-visible {
                box-shadow: 0 0 40px hsl(267, 91%, 78%);
            }
        }
    }
}