.project {
  display: flex;
}

.project .project-info {
  width: 70%;
}

.project .project-info li {
  line-height: 1.6;
}

.project .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.project .tags li {
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: .8rem;
  background-color: var(--clr-primary-light);
  border-radius: .3em;
  padding: .5em .7em;
}

.project .project-image {
  perspective: 55rem;
  max-width: 45%;
}

.project .project-image img {
  transform-style: preserve-3d;
  transform: rotateY(-35deg);
  border-radius: .3rem;
  height: auto;
  object-fit: cover;
}

.project .project-image img:hover, .project .project-image img:focus-visible {
  box-shadow: 0 0 40px #740bf4;
}
