.skills {
    background-color: var(--clr-neutral-dark);
}

.skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .skill {
        display: grid;
        place-items: center;
        font-size: .6rem;

        img {
            object-fit: cover;
        }

        p:not(.angular) {
            margin-top: 1rem;
        }

        .angular {
            margin-top: .55rem;
        }
    }
}

@media  (min-width:45rem) {
    .skill-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}