<section class="mb-2">
    <div class="container">
        <h2>Skills</h2>
        <div class="skill-grid">
            <div class="skill">
                <img src="../../assets/html-5.png" alt="html5" width="60" height="60">
                <p>HTML5</p>
            </div>
            <div class="skill">
                <img src="../../assets/css-3.png" alt="css3" width="60" height="60">
                <p>CSS3</p>
            </div>
            <div class="skill" style="margin-top: .8rem;">
                <img src="../../assets/js.png" alt="javascript" width="50" height="50">
                <p>javascript</p>
            </div>
            <div class="skill">
                <img src="../../assets/angular.png" alt="angular" width="70" height="70">
                <p class="angular">Angular</p>
            </div>
            <div class="skill">
                <img src="../../assets/sass.png" alt="sass" width="50" height="50">
                <p>SASS</p>
            </div>
        </div>
    </div>
</section>