:root {
  --clr-neutral-dark: black;
  --clr-neutral-light: #d3dfbf;
  --clr-primary: #8b39ef;
  --clr-secondary: #522f60;
  --clr-purple-dark: rgba(139, 57, 239, 0.4);
  --clr-gray: gray;
}

*,
*::after*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

label,
input,
textarea {
  font: inherit;
}

.container {
  width: 95%;
  max-width: 60rem;
  margin-inline: auto;
}

.txt-black {
  color: black;
}

.txt-accent {
  color: var(--clr-primary);
}

.txt-gray {
  color: var(--clr-gray);
}

.bg-dark {
  background-color: var(--clr-neutral-dark);
  color: var(--clr-gray);
}

.bg-light {
  background-color: var(--clr-neutral-light);
  color: var(--clr-neutral-dark);
}

.sub-heading {
  letter-spacing: 2px;
  font-family: monospace;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.flow > *:not(:last-child) {
  margin-bottom: 1.2rem;
}

.flow-2 > *:not(:last-child, h2) {
  margin-bottom: 10rem;
}

.mb {
  margin-bottom: 3rem;
}

section {
  padding-block: 8rem;
}

@media (min-width: 35rem) {
  .sub-heading {
    margin-bottom: 3rem;
  }
  .flow > *:not(:last-child) {
    margin-bottom: 2rem;
  }
  .flow-2 > *:not(:last-child, h2) {
    margin-bottom: 12rem;
  }
  .mb {
    margin-bottom: 3rem;
  }
  section {
    padding-block: 8rem;
  }
}

body {
  background-color: var(--clr-neutral-light);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section h2 {
  letter-spacing: 2px;
  font-family: monospace;
  font-size: 2rem;
  margin-bottom: 3rem;
}
