/* You can add global styles to this file, and also import other style files */
:root {
  --clr-primary: #8b39ef;
  --clr-primary-light: #694497;
}

*,
*::after*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

label,
input,
textarea {
  font: inherit;
}

.container {
  max-width: 60rem;
  margin-inline: auto;
}

.txt-primary {
  color: var(--clr-primary);
}

.sub-heading {
  letter-spacing: 2px;
  font-family: monospace;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.flow > *:not(:last-child) {
  margin-bottom: 2rem;
}

.flow-2 > *:not(:last-child, h2) {
  margin-bottom: 12rem;
}

.mb {
  margin-bottom: 10rem;
}

section {
  padding-block: 8rem;
}

body {
  background-color: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.wave-bg {
  position: relative;
  isolation: isolate;
}

.wave-bg::before,
.wave-bg::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  inset: 0;
}

.wave-bg::before {
  background-image: url("../src/assets/wave-down.svg");
  background-position: top;
}

.wave-bg::after {
  background-image: url("../src/assets/wave-combo-light.svg");
  background-position: bottom;
}

section h2 {
  letter-spacing: 2px;
  font-family: monospace;
  font-size: 2rem;
  margin-bottom: 3rem;
}
