@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,700&display=swap");
:root {
  --clr-primary: black;
  --clr-primary-light: rgba(0, 0, 0, 0.95);
  --clr-accent: #9e27d2;
  --clr-accent-light: rgba(148, 33, 202, 0.555);
  --clr-secondary: #15e0d1;
  --clr-secondary-dark: rgba(21, 224, 210, 0.507);
  --clr-gray: #5e6368;
  --clr-primary-invert: whitesmoke;
  --ff-open-sans: 'Open Sans', sans-serif;
  --ff--lato: 'Lato', sans-serif;
  /* font-sizes */
  --fs-700: calc(clamp(3rem, 8vw + 1rem, 5rem));
  --fs-600: 2.6rem;
  --fs-500: 1.8rem;
  /* --fs-500: clamp(1rem, 4vw + .5rem, 1.75rem); */
  --fs-400: 1rem;
  --fs-300: .8rem;
  --fs-200: .76rem;
}

:root:has(#light:checked) {
  --clr-primary: white;
  --clr-primary-light: rgba(255, 255, 255, 0.95);
  --clr-primary-invert: #0d0d0d;
  --clr-gray: #5e6368;
}

:root:has(#blue:checked) {
  --clr-accent: #9421ca;
  --clr-accent-dark: rgba(148, 33, 202, 0.555);
  --clr-secondary: #15e0d1;
  --clr-secondary-dark: rgba(21, 224, 210, 0.507);
  --gradient: linear-gradient(to right, #815496, cyan);
}

:root:has(#red:checked) {
  --clr-accent: #db143c;
  --clr-accent-dark: rgba(213, 7, 51, 0.507);
  --clr-secondary: #15e0d1;
  --clr-secondary-dark: rgba(21, 224, 210, 0.507);
  --gradient: linear-gradient(to right, #815496, cyan);
}

:root:has(#red-orange:checked) {
  --clr-accent: #ee1919;
  --clr-accent-dark: rgba(213, 7, 7, 0.507);
  --clr-secondary: #dfca0e;
  --clr-secondary-dark: rgba(21, 224, 210, 0.507);
  --gradient: linear-gradient(to right, #815496, cyan);
}

*,
*::after*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

label,
input,
textarea {
  font: inherit;
}

.container {
  width: 88%;
  max-width: 60rem;
  margin-inline: auto;
}

.txt-primary {
  color: var(--clr-primary);
}

.txt-secondary {
  color: var(--clr-gray);
}

.txt-accent {
  color: var(--clr-accent);
}

.txt-light {
  color: var(--clr-primary-invert);
}

.bg-main {
  background-color: var(--clr-primary);
}

.bg-main-light {
  background-color: var(--clr-primary-light);
}

.bg-secondary {
  background-color: var(--clr-primary-light);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

section {
  padding-block: 8rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (min-width: 35rem) {
  .container {
    width: calc(min(60rem, 70%));
  }
  section {
    padding-top: 14rem;
  }
}

body {
  background-color: var(--clr-neutral-light);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
  display: grid;
  place-items: center;
  padding-block: 2rem;
}

section h2 {
  letter-spacing: 2px;
  font-family: monospace;
  text-align: center;
  font-size: var(--fs-600);
  margin-bottom: 5rem;
}

.color-picker fieldset {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 50%;
  translate: -10% -50%;
  border: 0;
  padding: 1rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 99999;
  background-color: white;
}

.color-picker fieldset input:not(:first-of-type) {
  margin-top: 1rem;
}

.color-picker fieldset input[type="radio"] {
  appearance: none;
  width: .8rem;
  aspect-ratio: 1;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 2px;
  border-radius: 50%;
}

.color-picker fieldset input[type="radio"]:checked {
  background-color: var(--radio-color);
}

.color-picker fieldset input[type="radio"]#blue {
  --radio-color: #15e0d1;
}

.color-picker fieldset input[type="radio"]#red {
  --radio-color: #d50733;
}
