
:root {

    // Neutrals
    
    --clr-neutral-dark:hsl(0, 0%, 0%);
    --clr-neutral-light:hsl(81, 33%, 81%);
    
    --clr-primary: hsl(267, 85%, 58%);
    --clr-secondary: hsl(283, 34%, 28%);
    --clr-purple-dark: hsla(267, 85%, 58%, 0.4);

    --clr-gray:hsl(0, 0%, 50%);
}

*,
*::after*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
}

body {
    min-height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

label,
input,
textarea {
    font: inherit;
}

// -------------------------------
// ---------- Utilities-----------
// -------------------------------

.container {
    width: 95%;
    max-width: 60rem;
    margin-inline: auto;
}


.txt-black {color: black;}
.txt-accent {color: var(--clr-primary);}
.txt-gray {color: var(--clr-gray);}

.bg-dark {
    background-color: var(--clr-neutral-dark);
    color: var(--clr-gray);
}

.bg-light {
    background-color: var(--clr-neutral-light);
    color: var(--clr-neutral-dark);
}


.sub-heading {
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.flow>*:not(:last-child) {
    margin-bottom: 1.2rem;
}

.flow-2>*:not(:last-child, h2) {
    margin-bottom: 10rem;
}

.mb {margin-bottom: 3rem;}

section {
    padding-block: 8rem;
}

@media (min-width:35rem) {
    
    .sub-heading {
        margin-bottom: 3rem;
    }
    
    .flow>*:not(:last-child) {
        margin-bottom: 2rem;
    }
    
    .flow-2>*:not(:last-child, h2) {
        margin-bottom: 12rem;
    }
    
    .mb {margin-bottom: 3rem;}
    
    section {
        padding-block: 8rem;
    }
}

// -------------------------
// --- Main Styles----------
// -------------------------

body {
    background-color: var(--clr-neutral-light);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // Temporary
    // padding-bottom: 10rem;
}

// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------------
// ---------------------- SUB-HEADING CLASS OR SECTION H2 (WHAT TO USE)-----------------------
// --------------------------------------------------------------------------------------
// --------------------------------------------------------------------------------

section h2 {
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 2rem;
    margin-bottom: 3rem;
}